body{

    background-color: azure;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

header h1{
    font-family: Microsoft JhengHei	;
    size: 20px;
}
header p{
    font-family: Microsoft JhengHei	;
    size: 12px;
    text-align: center;
    border: bisque;
    width: 50px;
    background-color: bisque;
}
article{
    width: 100%;
    float: left;
}