html{
    size:12px;
    font-family: Microsoft JhengHei	;
    max-width: 1000px;
    margin: 0 auto;
    background-color: azure;
}

header {
    width: auto;
    float: top;
}


article{
    width: 80%;
    float: left;
}

aside{
    width: 20%;
    float: left;
    text-align: left;
}

footer{
    width: 100%;
    font-size: 0.8rem;
    float: right;
    font-family: "Times New Roman";
}

header h1{
    size: 3rem;
    text-shadow:  2px 2px 5px;
    text-align: left;
}

footer p{
    size: 1rem;
    text-align: right;
}


a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #265301;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
    text-decoration: none;
}

a:active {
    background: #265301;
    color: #CDFEAA;
}

aside ul{
    line-height: 1.5rem;
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;

}

.article-info {
    width: 100%;
}

.article-title {
    width: 70%;
    float: left;
    font-size: 1.5rem;
}

.article-date {
    width: 30%;
    float: left;
    font-size: 1rem;
}


.summery{
    width: 100%;
    size: 1rem;
    font-family: 楷体;
}


