body{
    font-family: Microsoft JhengHei	;
    max-width: 1000px;
    margin: 0 auto;
    background-color: azure;
}
main{

    max-width: 1000px;
    margin: 0 auto;
}

ul{
    font-size: 12px;
}

header {

    width: auto;
    float: top;
    background-color: aliceblue;
}
header h1{
    size: 20px;
}

article{
    width: 80%;
    float: left;
}

aside{
    width: 20%;
    float: left;
}

footer{
    width: 100%;
    float: right;
}

footer p{
    size: 13px;
    text-align: right;
}