<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edward blog</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
<header>
    <h1>Edwardhehe home page</h1>
    <a href="/admin/login">管理员登陆</a>
    <hr/>
</header>
<main>
    <article th:if="${not #lists.isEmpty(articles)}">
        <div class="article" th:each="article:${articles}">

            <div class="article-info">
                <div class="article-title">
                    <a class="article-title-link" th:text="${article.getTitle()}"
                       th:href="@{'/article/details/'+${article.getId()}}"/>
                </div>

                <div class="article-date">
                    <p th:text="@{'创建时间:'+${article.getDate()}}"/>
                </div>
            </div>


            <div class="article-summery">
                <p class="summery" th:text="${article.getSummary()}"/>
            </div>

        </div>
    </article>

    <aside>
        <h2>文章分类</h2>
        <ul>
            <li id="category" th:each="category:${categories}">
                <a id="category-link" th:href="@{'/categories/'+${category.getId()}}"
                   th:text="${category.getDisplayName()}"></a>

            </li>
        </ul>
    </aside>
</main>


<footer>
    <hr/>
    <p class="footer">&copy;Edwardhehe since 2018</p>
</footer>

</body>
</html>